<launch>

	<arg name="x_cal" value="0.0"/>
	<arg name="y_cal" value="0.0"/>
	<arg name="z_cal" value="0.0"/>

	<arg name="r_cal" value="0.0"/>
	<arg name="p_cal" value="0.0"/>
	<arg name="yaw_cal" value="0.0"/>

    <include file="$(find kinect2_bridge)/launch/kinect2_bridge.launch"/>

    <include file="$(find push_vs_grasp)/launch/kinect2_frames.launch">
      <arg name="x_cal" value="$(arg x_cal)"/>
      <arg name="y_cal" value="$(arg y_cal)"/>
      <arg name="z_cal" value="$(arg z_cal)"/>
      <arg name="r_cal" value="$(arg r_cal)"/>
      <arg name="p_cal" value="$(arg p_cal)"/>
      <arg name="yaw_cal" value="$(arg yaw_cal)"/>
    </include>



	<arg name="marker_size" default="20" />
	<arg name="max_new_marker_error" default="0.05" />
	<arg name="max_track_error" default="0.05" />

	<arg name="cam_image_topic" default="/kinect2/hd/points" />
	<arg name="cam_info_topic" default="/kinect2/hd/camera_info" />
	<arg name="output_frame" default="/kinect2_rgb_optical_frame" />

    <arg name="debug" default="false" />
    <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />
    <arg unless="$(arg debug)" name="launch_prefix" value="" />

	<node name="ar_track_alvar" pkg="ar_track_alvar" type="individualMarkers" respawn="false" output="screen" args="$(arg marker_size) $(arg max_new_marker_error) $(arg max_track_error) $(arg cam_image_topic) $(arg cam_info_topic) $(arg output_frame)" launch-prefix="$(arg launch_prefix)" />
</launch>
