<launch>

  <node pkg="push_vs_grasp" name="real_pick_place_node" type="real_pick_place_server.py" output="screen">
  </node>

  <!-- Launch driver script - ensure robot is turned on-->
  <node name="gripper_launcher" pkg="robotiq_2f_gripper_control" type="Robotiq2FGripperRtuNode.py" respawn="false" output="screen" args="/dev/ttyUSB1"></node>


</launch>
