<?xml version="1.0"?>
<launch>

  <arg name="sim" default="true" />
  <arg name="robot_ip" unless="$(arg sim)"  default ="10.0.0.99"/>
  <arg name="debug" default="false" />
  <arg name="limited" default="true" />
  
  <!-- Simulation -->
  <group if="$(arg sim)">
    
    <!-- Gazebo -->
    <include file="$(find push_vs_grasp)/launch/gazebo.launch"/>
    <include file="$(find push_vs_grasp)/launch/spawn_table.launch"/>

    <!-- Robot -->
    <include file="$(find push_vs_grasp)/launch/ur5.launch"/>
    
    <!-- FT Sensor -->
    <!--<include file="$(find push_vs_grasp)/launch/spawn_ft_sensor.launch"/>-->

    <!-- Gripper -->
    <!--<include file="$(find push_vs_grasp)/launch/spawn_gripper.launch"/>-->
    
    <!-- Tabletop Objects -->
    <!--<include file="$(find push_vs_grasp)/launch/spawn_objects.launch"/>-->
    
  </group>

  <!-- Real Robot -->
  <group unless="$(arg sim)">

    <include file="$(find ur_modern_driver)/launch/ur5_bringup.launch">
      <arg name="robot_ip" value="$(arg robot_ip)" />
    </include>

  </group>
  

  <!-- Moveit -->

  <include file="$(find ur5_moveit_config)/launch/ur5_moveit_planning_execution.launch">
      <arg name="sim" default="$(arg sim)"/>
  </include>

  <include file="$(find ur5_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" default="true"/>
  </include>
  
</launch>
